:root {
  --mix-primary-main: oklch(0.67 0.16 144);
  --mix-primary-dark: oklch(0.58 0.14 144);
  --mix-primary-light: oklch(0.77 0.12 145);
  --mix-primary-background: oklch(0.96 0.02 145);

  --mix-accent-orange: oklch(0.77 0.17 64);
  --mix-accent-orange-hover: oklch(0.71 0.16 64);
  --mix-accent-blue: oklch(0.66 0.17 249);
  --mix-accent-purple: oklch(0.52 0.22 321);
  --mix-accent-red: oklch(0.64 0.22 29);
  --mix-accent-red-hover: oklch(0.59 0.20 29);

  --mix-text-primary: oklch(0.00 0.00 0);
  --mix-text-secondary: oklch(0.38 0.00 0);
  --mix-text-auxiliary: oklch(0.56 0.00 0);
  --mix-border: oklch(0.91 0.00 0);
  --mix-background: oklch(1.00 0.00 0);
  --mix-background-soft: oklch(0.99 0.00 0);
  --mix-neutral-background-hover: oklch(0.96 0.00 0);
  --mix-text-button-hover: oklch(0.94 0.03 145);

  --mix-primary-main-shadow: oklch(0.67 0.16 144 / 25%);
}

[data-theme='dark'] {
  --mix-primary-main: oklch(0.72 0.14 145);
  --mix-primary-dark: oklch(0.67 0.16 144);
  --mix-primary-light: oklch(0.58 0.14 144);
  --mix-primary-background: oklch(0.43 0.12 144);

  --mix-accent-orange: oklch(0.83 0.15 74);
  --mix-accent-blue: oklch(0.75 0.12 245);
  --mix-accent-purple: oklch(0.65 0.16 322);
  --mix-accent-red: oklch(0.65 0.19 25);
  --mix-accent-red-hover: oklch(0.70 0.16 23);

  --mix-text-primary: oklch(1.00 0.00 0);
  --mix-text-secondary: oklch(0.91 0.00 0);
  --mix-text-auxiliary: oklch(0.80 0.00 0);
  --mix-border: oklch(0.38 0.00 0);
  --mix-background: oklch(0.18 0.00 0);
  --mix-background-soft: oklch(0.24 0.00 0);
  --mix-background-section: oklch(0.29 0.00 0);
  --mix-neutral-background-hover: oklch(0.27 0.00 0);
  --mix-text-button-hover: oklch(0.24 0.00 0);

  --primary-light-shadow: oklch(0.58 0.14 144 / 25%);
}